body {
	background-color: #3498db;
}

.all {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
}

.container {
	animation: up-and-down 2.5s ease-in infinite;
}

.square {
	width: 300px;
	height: 300px;
	background-color: #fff;
}

.shadow {
	position: absolute;
	background-color: #2a7aaf;
	border-radius: 50%;
	width: 350px;
	height: 80px;
	z-index: -1;
	top: 250px;
	left: -25px;
	transform-origin: bottom;
	animation: shadow 1.6s ease-in-out infinite both;
}

.up {
	position: relative;
	animation: up 1.6s ease-in infinite both;
}

.up .down {
	animation: down 1.6s ease-in-out infinite both;
}

.up .down .squeeze {
	transform-origin: bottom;
	animation: squeeze 1.6s cubic-bezier(0.72, 0.03, 0.28, 0.97) infinite both;
}

.up .down .squeeze .rotate-in {
	animation: rotate-in 1.6s ease-out infinite both;
}

.up .down .squeeze .rotate-in .rotate-out {
	animation: rotate-out 1.6s ease-in infinite both;
}

@keyframes up {
	0% {
		transform: translateY(-200px);
	}
	20%,
	100% {
		transform: translateY(0px);
	}
}

@keyframes down {
	0%,
	75% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-200px);
	}
}

@keyframes squeeze {
	0%,
	4% {
		transform: scale(1);
	}
	45% {
		transform: scale(2, 0.5);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes rotate-in {
	0% {
		transform: rotate(-135deg);
	}
	20%,
	100% {
		transform: rotate(0deg);
	}
}

@keyframes rotate-out {
	0%,
	80% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(135deg);
	}
}

@keyframes shadow {
	0%,
	100% {
		transform: scaleY(0.5);
	}
	45%,
	50% {
		transform: scaleX(2);
	}
}
